{% load static %}
<!DOCTYPE html>

<html>
    <head>
        <title>Your app title</title>
        <link rel="shortcut icon" href="#" />
        <link rel="stylesheet"  href="{%  static  'css/style.css'  %}">
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
        <script src="{% static 'path_to_script.js'%}" type="text/javascript"></script>

        <div class="topnav">
            <a class="active" href="{% url 'index' %}">Home</a>
        </div>
    </head>

    <body>
        {% block body_block %}{% endblock %}
    </body>

    <footer>
        <div>Made by <a href="https://github.com/feufeul" class="link_to_git" target="_blank" rel="noopener noreferrer"><b>Van Duffel Christopher</b></a></div>
    </footer>
</html>
